<div class="home-container">
  <div class="sidebar">
    <h3>Filters</h3>
    <form (ngSubmit)="applyFilters()">
      <label>
        Category:
        <select [(ngModel)]="filters.category" name="category">
          <option value="">All Categories</option>
          <option *ngFor="let category of categories" [value]="category.name">
            {{ category.name }}
          </option>
        </select>
      </label>
      <br />
      <label>
        Price Range: ${{ filters.minPrice }} - {{ maxPriceDisplay }}
        <app-double-slider
          [min]="0"
          [max]="1000"
          [step]="50"
          [range]="[filters.minPrice, filters.maxPrice]"
          (rangeChange)="onRangeChange($event)"
        ></app-double-slider>
      </label>
      <br />
      <button type="submit">Apply Filters</button>
    </form>
  </div>
  <div class="content">
    <div class="product-list">
      <div *ngFor="let product of products" class="product-card">
        <div class="product-image">
          <img [src]="product.imageUrl" alt="{{ product.name }}" />
        </div>
        <div class="product-details">
          <h3 class="product-title">
            <a [routerLink]="['/products', product.id]" target = "_blank">{{ product.name }}</a></h3>
          <p class="product-description">{{ product.description }}</p>
          <div class="product-meta">
            <span class="product-price">{{ product.price | currency }}</span>
            <span class="product-category">{{ product.category.name }}</span>
          </div>
          <div *ngIf="product.quantity > 0 && product.quantity < 5" class="low-stock">
            Few items left
          </div>
          <button 
            (click)="addToCart(product)" 
            class="add-to-bag" 
            [ngClass]="{'out-of-stock': product.quantity === 0}"
            [disabled]="product.quantity === 0">
            {{ product.quantity === 0 ? 'Out of Stock' : 'Add to Bag' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>